<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.daraosn.Cordova-CanvasCamera"
        version="0.0.1">

  <name>Cordova-CanvasCamera</name>
  <description>Stream Camera to Canvas/Img tag</description>
  <license>MIT</license>
  <keywords>cordova,camera,canvas,img</keywords>
  <repo>https://github.com/daraosn/Cordova-CanvasCamera.git</repo>
  <issue>https://github.com/daraosn/Cordova-CanvasCamera/issues/3</issue>

  <platform name="ios">
    <js-module src="CanvasCamera/CanvasCamera.js" name="CanvasCamera">
      <clobbers target="CanvasCamera" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
	    <config-file target="config.xml" parent="/*">
		    <feature name="CanvasCamera">
			    <param name="ios-package" value="CanvasCamera"/>
			    <param name="onload" value="true" />
		    </feature>
		    <plugin name="CanvasCamera" value="CanvasCamera"/>
	    </config-file>

        <header-file src="CanvasCamera.h" />
        <source-file src="CanvasCamera.m" />
                
        <!-- System frameworks -->
        <framework src="CoreVideo.framework" weak="true" />

    </platform>

  </platform>
  
</plugin>
